@use "app";

footer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: app.$black-theme1;
  color: app.$ligth-color;
  .footer {
    width: 80%;
    height: 20%;
    display: flex;
    gap: 10%;
  }
}
