@use "app";

header {
  background-color: app.$black-theme1;
  padding: 1rem;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;

        a {
          display: block;
          padding: 6px 12px;
          text-decoration: none;
        }
      }
    }
    .navbar-header {
      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: app.$ligth-color;
        font-weight: bold;
      }
    }

    .links {
      ul {
        display: flex;
        column-gap: 1.5rem;
      }
      a {
        color: app.$ligth-color;
      }
    }
    .buttons {
      ul {
        li {
          padding: 0.2rem;
          margin-left: 1rem;
          border-radius: 5px;
          background-color: app.$secondary-color;
          border-radius: 5px;
          a {
            color: app.$ligth-color;
          }
        }
      }
    }
  }
}
