@use "app";

.textbox-area {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  .textbox {
    padding: 5%;
    width: 80%;
    height: 100px;
    background-color: app.$black-theme2;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    span {
      display: inline-block;
      // font-size: 20px;
      height: 2rem;
      color: app.$ligth-color;
      border-bottom: solid white 1px;
    }

    .space {
      width: 0.5rem;
      height: 2rem;
    }
    .cursor {
      border-right: solid white 1px;
    }
  }
}
