@use "app";

.textbox-area {
  display: flex;
  justify-content: center;
  align-items: center;
  .textbox {
    padding: 10%;
    width: 80%;
    height: 20px;
    background-color: app.$black-theme2;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    // text-align: center;
    span {
      // margin-right: 0.2rem;
      font-size: 25px;
      // width: 1rem;
      height: 2rem;
      color: app.$ligth-color;
      border-bottom: solid white 1px;
    }

    .space {
      width: 0.5rem;
      height: 2rem;
    }
  }
}
