@use "app";

.textbox-area {
  display: flex;
  justify-content: center;
  align-items: center;
  .textbox {
    width: 80%;
    height: 20vw;
    background-color: app.$black-theme2;
    border-radius: 5px;
  }
}
